<div class="container">
    <div class="jumbotron">
    </div>
    <h1 class="display-3">TEEN@home</h1>
    <p class="lead">Be a helper if you like our app <a href="#">donate</a> to help develop it better!</p>
    <p><a class="btn btn-lg btn-primary right-align" href="#" role="button">DONATE NOW!</a></p>

    <div class="row marketing">
        <div class="col-lg-10">
            <h4><strong>PARENTS vs. CHILDRENS</strong></h4>
            <p>It’s not easy being a teenager in today’s world. From depression to bullying and cutting, teens grapple with a wide range of issues as they grow and develop. But here’s the good news: you’re not alone and you can feel better.<br> Learn more
                about the signs and symptoms of some common teen challenges, what you can do to help yourself, and how to reach out and talk about tough subjects with your friends and family members.
            </p>
            <p>Тeens are knowledgeable, smart, and confident. They have little challenge to make the right choice when these topics are presented. However, it is important to recognize that these issues are possibly effecting the families and friends with
                which spends time.
            </p>
            <p>Parenting has often been described as a full-time job. Moms and dads have to organize children’s schedules, find kid-friendly places to eat, and remember all the things that their family needs from the grocery store this week. Fortunately,
                there is <strong>TEEN@home</strong> app that can help busy parents to keep track of everything. We are here to help parents with all parenting challenges from those everyday situations to the most serious issue of child abuse.
            </p>
            <h4><strong>TEEN AT HOME</strong></h4>
            <p>This application is special developed for Parents and Childrens. The main idea is to help both groups to have better comunication, easier life and positive emotions. If you are busy Parent and don't have enough time for your childrens. If
                you have full-time job and cannot stay at home to organize children’s schedules, to study whit them and do all homeworks, to remember all the things in schedules as sport, lessons etc. If you have lazy teen at home, hwo doesn't want to
                help with the domestic work, want to do their homeworks and Learn new things. If you are TEEN and don't have enought money for school.. and many more reasons. Here is the simple solve of everything! <br>
                <strong>TEEN@home</strong> is here! <br> This APP is ammzing! Its provide oportunity to make dayly/week Task list for your child. With everything needed like school lessons, homeworks, trainings, sport and domestic tasks. You can add tasks
                and wish improvment for their solving like: picture, video etc. TEEN AT HOME provide you best oportunity to control your Childrens when you aren't at home and to manage succesful their dayly/weekly schedules. For every solved task the
                teens receive points. They collect their points in wallet beacause every point is 1 $/Euro. This mean that you can controll the money as well. If some child solve all neccessary tasks for the day, it can receive daily cash for tommorow
                or for next week, depends of the Task list type (daily / weekly).<br> TEEN AT HOME is perfect HELPER for Parents and succesful motive for better Childrens.
                <br> If you are parent of trouble TEEN you can find <a href="/parent-helper">help</a> in our app! You are not alone, every chil grow up! <br> If you are TEEN hwo need more money for week, you can find <a href="/teen-jobs">help</a> in our
                app as well!
            </p>
            <h4 class="helpguide"><a href="/how-to-use"><strong>TUTTORIAL HOW TO USE THE APP</strong></a></h4>
            <p>In this page you can find video tuttorial about how to use succesful our application.</p>
            <h4 class="important"><strong>What you can find here</strong></h4>
            <div class="box important-box">
                <ol>
                    <li>Are you a teenager looking for a job? Or perhaps a parent who is helping your kid to get their first job?</li>
                    <li>If you are parent of trouble TEEN!</li>
                    <li><strong>Use your connections.</strong> Talk to friends and family about any paying jobs they might know of, and follow through.</li>
                    <li><strong>Volunteer.</strong> Sometimes, the best way to get a paying job is to begin as a volunteer and work your way up</li>
                    <li><strong>Make a resume.</strong> Even if most jobs you apply for don't ask for a resume, it's a good exercise, and it's useful to have your work history and education details</li>
                    <li><strong>Apply early!</strong> The most important key to getting jobs with these places is to apply as soon as you hear about jobs</li>
                    <li><strong>Go to an interview.</strong> One of the most often asked questions is: Why do you feel you are qualified for this job?</li>
                    <li><strong>Increase your earnings. </strong> After working at the entry level position for a few summers or after school, you will the have the experience to work at a higher level</li>
                </ol>
            </div>
        </div>

        <div class="col-lg-6">
            <h4 class="link"><a href="http://www.hireteen.com/"><strong>Hire Teen</strong></a></h4>
            <p>Job application should be processed in the website of the company you are applying for or you need to follow the guideline which is provided on each company review.</p>
            <h4 class="link"><a href="http://www.snagajob.com/job-search/q-teen"><strong>Snaga job</strong></a></h4>
            <p>Get solutions across the entire hiring process—more applications, qualified hires, easier scheduling and more.</p>
            <h4 class="link"><a href="http://www.dreamhomebasedwork.com/online-jobs-for-teens/"><strong>Dream home based work</strong></a></h4>
            <p>Most people who have a regular job during the day, end up taking jobs that they can do in the evening or the night. If you are a night owl, you do not need to spend all your time flipping through channels on late night TV. You can actually
                spend your time in a more constructive way and make some money while at it. Here are 21 jobs flexible enough.</p>
            <h4 class="drug-abuse"><strong>Popular part-time jobs and small business opportunities:</strong></h4>
            <div class="box important-box">
                <ul>
                    <li><strong>Animal Shelter Worker</strong></li>
                    <li><strong>Arts and Crafts Production and Sales</strong></li>
                    <li><strong>Babysitting</strong></li>
                    <li><strong>Car Wash Attendant</strong></li>
                    <li><strong>Document and Photograph Archival Services</strong></li>
                </ul>
            </div>
            <a class="btn btn-lg btn-success center" href="#" role="button">FIND MORE</a>
        </div>
    </div>
</div>
<br>