<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Team A2 Genesis Project - TEEN@home SPA</h1>
        </div>
    </div>

    <div class="col-lg-8 text-left">
        <div class="bs-component">
            <p>View the source code: <a href="https://github.com/Angular-2/A2-Genesis" target="_blank">Github</a></p>

            <p>Please visit: <a href="https://github.com/Angular-2/A2-Genesis/blob/master/CourseProject.md" target="_blank">Project Requirements</a></p>
            <p>This application was developed as a part of Telerik Academy's Angular 2 course.</p>
            <p>Team members: </p>
            <ul>
                <li>Georgi Karaboichev -
                    <a href="https://telerikacademy.com/Users/prot3ct"> <strong>prot3ct</strong></a>
                </li>
                <li>Rumen Tsanov -
                    <a href="https://telerikacademy.com/Users/RumenTsanov"> <strong>RumenTsanov</strong></a>
                </li>
                <li>Niya Keranova -
                    <a href="https://telerikacademy.com/Users/Nayata"> <strong>Nayata</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>