<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
            <a class="navbar-brand" href="home">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="howTo">HOW TO USE IT</a></li>
                <li><a href="about">ABOUT US</a></li>
                <li><a href="jobs">TEEN JOBS</a></li>
                <li><a href="helper">PARENT HELPER</a></li>
                <li><a href="contact">CONTACTS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                <li><a href="register"><span class="glyphicon glyphicon-log-in"></span> REGISTER</a></li>
            </ul>
        </div>
    </div>
</nav>